body {
  padding: 0;
  margin: 0;
}

.container {
  display: flex;
  justify-content: center;
}

/* table {
  text-align: center;
  background-color: aqua;
  width: 1100px;
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif
}*/

th {
  background-color: royalblue;
  padding: 4px;
}

td {
  background-color: white;
}

.add {
  background-color: green;
  border-radius: 5px;
}

.add img {
  margin-top: 3px;
  width: 20px;
  height: 20px;
}

form {
  /* font-family: Georgia, 'Times New Roman', Times, serif; */
  margin-top: 10px;
  margin-right: 5px;
}

button {
  background-color: royalblue;
  border: 0;
}

button img {
  margin-top: 3px;
  width: 20px;
  height: 20px;
}

.action {
  display: flex;
  justify-content: center;
}

/* .kuning {
  height: 25px;
  width: 25px;
  border-radius: 3px;
  background-color: yellow;
}

.merah {
  height: 25px;
  width: 50px;
  border-radius: 3px;
  background-color: red;
} */

.kuning img {
  margin: 5px;
  height: 15px;
  width: 15px;
}

.merah img {
  margin: 5px;
  height: 15px;
  width: 15px;
}