body {
  margin: 0;
  padding: 0;
  /* background-color: cadetblue; */
}

/* @media only screen and (max-width: 900px) {
  body {
    background-color: rebeccapurple;
  }
} */

a {
  /* font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif; */
  color: black;
  text-decoration: none;
  margin: 5px;

}

.container {
  justify-content: center;
}

.container a {
  text-decoration: none;
  color: black;

}

.kos {
  display: flex;
  justify-content: center;
}

.table {
  margin-top: 10px;
  text-align: center;
  /* box-shadow:3px 2px rgb(105, 105, 105); */
  /* border-radius: 5px; */
  width: 800px;
}

/* .table th{
  text-align: center;
  background-color:lightskyblue;
  padding: 5px;
  margin-right: 10px;
} */
/* navbar */
.container-nav {
  display: flex;
  justify-content: center;
}

/* ul{
  background-color: royalblue;
  padding: 10px;
  display: flex;

} */
li {
  list-style-type: none;
  padding: 0;
  margin: 0;

}

a {
  padding: 0;
  margin: 0;
  text-decoration: none;
}

.nav {
  background-color: royalblue;
  height: 50px;
  margin-bottom: 10px;
  display: flex;
  justify-content: space-between;
}